#GCE
mkdir -p /home/mengziyu/working/04.genome_assembling/GCE
cd GCE/
ls /home/train/00.incipient_data/data_for_genome_assembling/illumina.?.fastq > reads.list
/opt/biosoft/gce-1.0.0/kmerfreq/kmer_freq_hash/kmer_freq_hash -k 21 -l reads.list -t 8 -i 80000000 -o 0 -p out > kmer_freq.log
/opt/biosoft/gce-1.0.0/gce -f out.freq.stat -c 21 -g 301734211 -m 1 -D 8 -b 1 > out.table 2> out.log
#若是杂合基因组测序数据，需要添加-H 1参数
#杂合基因组通常指从一个二倍体或多倍体生物个体中测序得到的基因组数据，这个个体的一条染色体上的某个位置（基因座）可能存在两个不同的版本（等位基因）
/opt/biosoft/gce-1.0.0/gce -f out.freq.stat -c 21 -g 301734211 -m 1 -D 8 -b 1 -H 1 > out.table 2> out.log
#kmer图制作
echo 'a <- read.table("11",header=TRUE);
  library("ggplot2")
  png(file="dep_num.png",bg="transparent")
  qplot(dep,num,data=a,ylim=c(0,3e5),xlim=c(0,180),geom=c("line"))
  dev.off()
  png (file="dep_individual.png",bg="transparent")
  qplot(dep,num*dep,data=a,ylim=c(0,1e7),xlim=c(0,180),geom=c("line"))
  dev.off()' | R --vanilla --slave


#Jellyfish and Genome
mkdir -p /home/mengziyu/working/04.genome_assembling/GenomeScope2.0
cd GenomeScope2.0/
jellyfish count -C -m 21 -s 100000000 -t 8 -o mer_counts.jf /home/train/00.incipient_data/data_for_genome_assembling/illumina.?.fastq
jellyfish histo -t 8 mer_counts.jf > mer_counts.histo
/opt/biosoft/genomescope2.0-1.0.0/genomescope.R -i mer_counts.histo -o genomescope -k 21 -p 1 > ../genomescope.out


#IDBA
mkdir -p /home/mengziyu/working/04.genome_assembling/IDBA
cd IDBA/
fq2fa --filter --merge /home/train/00.incipient_data/data_for_genome_assembling/illumina.1.fastq /home/train/00.incipient_data/data_for_genome_assembling/illumina.2.fastq  illumina.fasta
idba_ud -r illumina.fasta --mink 20 --maxk 100 --step 20
python3 ~/commend/genome_seq_clear.py --seq_prefix idba out/contig.fa > idba.fasta


#Canu、Hifisam和purge_dups需要配置好miniconda的环境
conda create -n pb-assembly
conda activate pb-assembly
conda install -c bioconda pbccs
conda install -c bioconda bam2fastx=1.3.0
#Canu
#三代数据de novo
mkdir -p /home/mengziyu/working/04.genome_assembling/Canu
cd Canu
mkdir lamda_HiFi
opt/biosoft/miniconda3_for_pb-assembly/bin/ccs /home/train/00.incipient_data/data_for_genome_assembling/lambdaTINY_Sequel2/m54026_181219_010936_tiny.subreads.bam ccs.bam
/opt/biosoft/miniconda3_for_pb-assembly/bin/bam2fasta -o ccs_reads -u ccs.bam
canu -p out genomeSize=48000 useGrid=false -pacbio-hifi ccs_reads.fasta
#需要注意安装cilck包 python3 -m pip install click
python3 ~/commend/canu_filter.py filter out.contigs.fasta genome.canu_a.fasta -p bubble=yes -p repeat=yes -p low_quality
python3 ../genome_seq_clear.py --seq_prefix canu genome.canu_p.fasta > canu.fasta
mkdir /home/stu_wangyanan/working/04.genome_assembling/Canu/Malassezia_sympodialis
cd ../Malassezia_sympodialis/
/opt/biosoft/miniconda3_for_pb-assembly/bin/bam2fasta -o subreads -u /home/train/00.incipient_data/data_for_genome_assembling/m150226_221858_42237.subreads.bam
canu -p out genomeSize=8000000 useGrid=false -pacbio-raw subreads.fasta &> canu.log
python3 ../genome_seq_clear.py --seq_prefix canu out.contigs.fasta > canu.fasta


#Hifisam
mkdir -p /home/mengziyu/working/04.genome_assembling/Hifisam
cd Hifisam
/opt/biosoft/miniconda3_for_pb-assembly/bin/ccs /home/train/00.incipient_data/data_for_genome_assembling/lambdaTINY_Sequel2/m54026_181219_010936_tiny.subreads.bam ccs.bam
/opt/biosoft/miniconda3_for_pb-assembly/bin/bam2fasta -o ccs_reads -u ccs.bam
hifiasm -o hifiasm.asm -t 4 -l 0 ccs_reads.fasta
python3 hifiasm_filter.py hifiasm.asm.bp.p_ctg.gfa hifiasm.asm.fasta


#purge_dups
mkdir -p /home/mengziyu/working/04.genome_assembling/purge_dups
cd purge_dups/
ln -s /home/train/00.incipient_data/data_for_genome_assembling/assemblies_of_Malassezia_sympodialis/canu.fasta genome.fasta
/opt/biosoft/miniconda3_for_pb-assembly/bin/bam2fasta -o subreads -u /home/train/00.incipient_data/data_for_genome_assembling/m150226_221858_42237.subreads.bam
python3 purge_dups_pipl.py --CPU 2 --minimap2_read "-I 4G -t 4 -x map-pb" --minimap2_self "-I 4G -t 4 -x asm5 -D -P" --peak 45 genome.fasta subreads.fasta
python3 genome_seq_clear.py --seq_prefix purge_dups purge_dups.tmp/purged.fa > purge_dups.fasta


#Hi-C
mkdir -p /home/mengziyu/working/04.genome_assembling/Hic
cd Hic/
mkdir e.Juicer
cd e.Juicer
